.latestUpdates-wrapper {
  width: 100%;
  background: #f6f2eb;

  & .latestUpdates {
    &-container {
      max-width: 1180px;
      padding: 0 20px;
      margin: 100px auto;
    }
    &-header {
      color: #014b40;
      font-size: 36px;
      font-weight: 500;
      line-height: 140%;
    }
    &-cards__section {
      margin-top: 32px;
      display: flex;
      @media (max-width: 1180px) {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      }

      & .cards {
        &-card {
          @media (min-width: 1180px) {
            &:not(:last-child) {
              margin-right: 32px;
            }
          }

          @media (max-width: 1180px) {
            & {
              margin: 32px;
            }
          }
          &__info {
            @media (max-width: 890px) {
              text-align: center;
            }
            &-description {
              color: #014b40;
              font-size: 20px;
              font-weight: 400;
              line-height: 140%;
              margin: 20px 0;
              max-width: 361px;
            }
            &-link {
              cursor: pointer;
              color: #014b40;
              font-size: 20px;
              font-weight: 300;
              line-height: 140%;
              text-decoration-line: underline;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
