.footer-section__wrapper {
  background: #014b40;
  padding: 100px 20px 72px 20px;
  & .footer {
    &-container {
      display: flex;
      max-width: 1140px;

      margin: 0 auto;
      border-bottom: 1px solid #e7e7e7d8;
    }
    &-planty__section {
      max-width: 31%;

      & .planty {
        &-logo {
          position: relative;
          width: 90px;
          height: 36px;
          display: flex;
          flex-direction: column;
          align-items: center;
          font-family: Inter;
          // justify-content: center;
          &__name {
            font-family: Inter;
            font-size: 30px;
            font-weight: 500;
            color: #fff;
          }
          &__picture {
            position: absolute;
            left: 41px;
            right: 36px;
            bottom: 24px;
            color: #fff;
          }
        }
        &-description {
          color: #e7e7e7;
          line-height: 165%;
          margin: 16px 0 32px 0;
          min-width: 200px;
          @media (max-width: 605px) {
            min-width: 150px;
          }
        }
        &-icons {
          margin-bottom: 60px;
          & svg {
            cursor: pointer;
          }
          & :not(:last-child) {
            margin-right: 24px;
            @media (max-width: 686px) {
              margin-right: 12px;
            }
          }
        }
      }
    }
    &-sections__wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      margin-left: 9%;
      @media (max-width: 605px) {
        &.drop-down {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          & :not(:first-child) {
            margin-top: 40px;
          }
          & .section {
            &-list {
              display: none;
              &.active {
                display: block;
                animation-name: show-items;
                animation-duration: 0.4s;
                @keyframes show-items {
                  0% {
                    transform: translateY(-200px);
                    opacity: 0;
                  }

                  80% {
                    transform: translateY(40px);
                    opacity: 0.8;
                  }
                  100% {
                    transform: translateY(0);
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
      }

      & .section {
        &-title {
          display: flex;
          align-items: center;
          color: #fff;
          font-family: Poppins;
          font-size: 20px;
          font-weight: 500;
          line-height: 130%;
          height: 20px;
          &__arrow-btn {
            color: white;
            background: none;
            height: 20px;
            width: 20px;
            transform: rotate(90deg);
            margin-left: 5px;
            display: none;
            transition: 0.4s ease-in-out;
            @media (max-width: 605px) {
              display: block;
            }
            &.active {
              transform: rotate(-90deg);
            }
          }
        }
        &-list {
          &__item {
            color: #afadb5;
            font-weight: 300;
            line-height: 180%;
            margin-top: 20px;
          }
        }
      }
    }
  }
}
