.header-wrapper {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
  height: 92px;
  padding: 28px 0px;
  position: absolute;
  width: 100%;

  & .header {
    &-container {
      max-width: 1180px;
      padding: 0 20px;
      display: flex;
      color: #014b40;
      justify-content: space-between;
      margin: 0px auto;
      align-items: center;
      height: 36px;
      align-items: center;
    }
    &-planty__logo {
      position: relative;
      width: 90px;
      height: 36px;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: Inter;
      // justify-content: center;
      &-name {
        font-family: Inter;
        font-size: 30px;
      }
      &-picture {
        position: absolute;
        left: 41px;
        right: 36px;
        bottom: 24px;
      }
    }
    &-nav__bar {
      display: flex;
      @media (min-width: 768px) {
        & :not(:last-child) {
          margin-right: 48px;
        }
      }

      h2 {
        cursor: pointer;
      }
      @media (max-width: 767px) {
        display: flex;
        position: absolute;
        top: 120px;
        width: 100%;
        flex-direction: column;
        align-items: center;
        left: -550px;
        transition: 0.4s ease-in-out;
        z-index: 5;
        color: #014b40;
        font-weight: 600;
        & :not(:last-child) {
          margin-bottom: 48px;
        }
        &.show {
          animation-name: navBarShow;
          animation-duration: 0.4s;
          left: 0;
        }
        // &.hide {
        //   display: flex;
        //   animation-name: navBarHide;
        //   animation-duration: 0.4s;
        //   transform: translateX(-550px);
        // }
        @keyframes navBarShow {
          0% {
            left: -550px;
          }
          75% {
            left: 100px;
          }

          100% {
            left: 0;
          }
        }
        @keyframes navBarHide {
          0% {
            transform: translateX(0);
          }

          100% {
            transform: translateX(-550px);
            // display: none;
          }
        }
      }
    }
    &-burger__menu {
      z-index: 5;

      display: none;
      position: relative;
      margin-left: 30px;
      width: 30px;
      height: 30px;
      cursor: pointer;

      @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        span {
          width: 30px;
          height: 1px;
          z-index: 5;
          transition: 0.3s ease-in-out;
          display: block;
          border-bottom: 2px solid #014b40;
        }
        &.active {
          justify-content: center;
          span {
            position: absolute;
          }
          .burger {
            &-line1 {
              transform: rotate(225deg);
            }
            &-line2 {
              transform: scale(0);
            }
            &-line3 {
              transform: rotate(-225deg);
            }
          }
        }
      }
    }
    &-btns__section {
      & div {
        display: inline-block;
        cursor: pointer;
      }
      & :not(:last-child) {
        margin-right: 24px;
      }
    }
  }
}
