.featured-card__gallery {
  display: flex;
  position: relative;
  transition: 0.4s ease-in-out;
  // width: 1140px;
  @media (max-width: 1180px) {
    justify-content: center;
  }
  &-item {
    position: relative;
    margin: 0 28px 0 0;
    transition: 0.4s ease-in-out;
    @media (max-width: 1180px) {
      
        margin: 0px 14px;
      

    }
    

    &.right {
      animation-name: toRight;
      animation-duration: 0.5s;
    }
    &.left {
      animation-name: toLeft;
      animation-duration: 0.5s;
    }
    @keyframes toRight {
      0% {
        opacity: 0.1;
        transform: translateX(388px);
      }
      70% {
        transform: translateX(-50px);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }
    @keyframes toLeft {
      0% {
        opacity: 0.1;
        transform: translateX(-388px);
      }

      70% {
        transform: translateX(50px);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  &-secondCard {
   
    @media (max-width: 819px) {
      display: none;
    }
  }
  &-thirdCard {
    @media (max-width: 1180px) {
      display: none;
    }
  }

  &-arrow {
    cursor: pointer;
    display: flex;
    position: absolute;
    width: 42px;
    height: 42px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid #014b40;
    color: #014b40;
    margin: 205px 0;
    z-index: 10;

    &.left {
      color: #014b40;
      background: transparent;
      left: -20px;
    }
    &.right {
      background: #014b40;
      right: -20px;
      // @media (max-width: 1180px) {
      //   right: 10px;
      // }
    }
  }
}
